@import url('https://fonts.googleapis.com/css?family=Monoton');
@import url('https://fonts.googleapis.com/css?family=Roboto');

body {
	background-color: #2e0238;
	color: #f8b195;
}

.main {
	width: 600px;
	margin: 0px auto;
	text-align: center;
  position: relative;
}

.startBtn {
	background-color: #00ff80 !important;
}

.startBtn:hover {
	background-color: #007c06 !important;
}

.strictBtn {
	background-color: #7f35c9 !important;
	color: #fff !important;
	border: #2f0a54 solid 1px !important;
}

.strictBtn:hover {
	background-color: #37036c !important;
	color: #fff !important;
	border: #5a0077 solid 1px !important;
}

.strictModeOn {
	-webkit-box-shadow: 0 9px 16px 0 rgba(0, 0, 0, 0.1), 0 0 0 1px #170c22, 0 2px 1px 0 rgba(121, 65, 135, 0.5), inset 0 0 4px 3px rgba(15, 8, 22, 0.2) !important;
  -moz-box-shadow: 0 9px 16px 0 rgba(0, 0, 0, 0.1), 0 0 0 1px #170c22, 0 2px 1px 0 rgba(121, 65, 135, 0.5), inset 0 0 4px 3px rgba(15, 8, 22, 0.2) !important;
  box-shadow: 0 9px 16px 0 rgba(0, 0, 0, 0.1), 0 0 0 1px #170c22, 0 2px 1px 0 rgba(121, 65, 135, 0.5), inset 0 0 4px 3px rgba(15, 8, 22, 0.2) !important;
  text-shadow: 0 0 21px rgba(223, 206, 228, 0.5), 0 0 10px rgba(223, 206, 228, 0.4), 0 0 2px #2a153c !important;
  color: #e4e3ce !important;
 }

.cloudInfo {
	font-family: Roboto;
  font-size: 14px;
  border: solid #d11b70 1px;
	position: absolute;
    left: 330px;
    top: 60px;
  width: 220px;
	height: 68px;
  z-index: 1;
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 20px;
  border-radius: 5px;
  display: inline;
}

.invisible {
	display: none !important;
}

#infobox {
	width: 550px;
	text-align: center;
	margin: 20px auto;
	padding: 40px 20px 0 20px;
	font-size: 3rem;
	font-family: 'Monoton';
	color: #fff;
	text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 20px #ff0080, 0 0 30px #ff0080, 0 0 40px #ff0080, 0 0 55px #ff0080, 0 0 75px #ff0080;
}

.gameField {
  border: 0px;
  margin: 0px;
  padding: 0px;
  width: 0px;
  height: 0px;
  cursor: pointer;
  float: left;
}

#fields {
  margin-left: 60px;
}

#field0 {
	border-bottom: 250px solid #45ada8;
	border-left: 250px solid transparent;
}

#field0:active {
	background-color: #26022e;
	border-bottom: 250px solid #65cdc8;
}

.field0a {
	background-color: #26022e !important;
	border-bottom: 250px solid #65cdc8;
}

#field1 {
	border-bottom: 250px solid #e5fcc2;
	border-right: 250px solid transparent;
}

#field1:active {
	background-color: #26022e !important;
	border-bottom: 250px solid #ffffe2;
}

.field1a {
	background-color: #26022e !important;
	border-bottom: 250px solid #ffffe2 !important;
}

#field2 {
  clear:both;
	border-top: 250px solid #cc527a;
	border-left: 250px solid transparent;
}

#field2:active {
	background-color: #26022e !important;
	border-top: 250px solid #ec729a;
}

.field2a {
	background-color: #26022e !important;
	border-top: 250px solid #ec729a !important;
}

#field3 {
	border-top: 250px solid #143b6e;
	border-right: 250px solid transparent;
}

#field3:active {
	background-color: #26022e !important;
	border-top: 250px solid #15487b !important;
}

.field3a {
	background-color: #26022e !important;
	border-top: 250px solid #15487b !important;
}

.clickable {
  pointer-events : auto;
}

.unclickable {
  pointer-events: none;
}

/* /////////////////   buttons   ///////////////  */

.buttons {
  position: relative;
  white-space: nowrap;
  min-height: 25px;
  margin-bottom: 70px;
  top: 10px;
  margin-left: 104px; }
  .buttons a {
    width: 100px;
    font-family: Roboto;
    font-size: 14px;
    height: 25px;
    position: absolute;
	  text-decoration: none;
    padding-top: 9px;
    outline-width: 0px;
    color: #a675b3;
    text-align: center;
    line-height: 17px;
    cursor: pointer;}
    .buttons a:not(.active) {
      -webkit-box-shadow: inset 0 1px 1px rgba(111, 55, 125, 0.8), inset 0 -1px 0px rgba(63, 59, 113, 0.2), 0 9px 16px 0 rgba(0, 0, 0, 0.3), 0 4px 3px 0 rgba(0, 0, 0, 0.3), 0 0 0 1px #150a1e;
      -moz-box-shadow: inset 0 1px 1px rgba(111, 55, 125, 0.8), inset 0 -1px 0px rgba(63, 59, 113, 0.2), 0 9px 16px 0 rgba(0, 0, 0, 0.3), 0 4px 3px 0 rgba(0, 0, 0, 0.3), 0 0 0 1px #150a1e;
      box-shadow: inset 0 1px 1px rgba(111, 55, 125, 0.8), inset 0 -1px 0px rgba(63, 59, 113, 0.2), 0 9px 16px 0 rgba(0, 0, 0, 0.3), 0 4px 3px 0 rgba(0, 0, 0, 0.3), 0 0 0 1px #150a1e;
      background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #3b2751), color-stop(100%, #271739));
      background-image: -webkit-linear-gradient(#3b2751, #271739);
      background-image: -moz-linear-gradient(#3b2751, #271739);
      background-image: -o-linear-gradient(#3b2751, #271739);
      background-image: linear-gradient(#3b2751, #271739);
      text-shadow: 0 0 21px rgba(223, 206, 228, 0.5), 0 -1px 0 #311d47; }
    .buttons a:not(.active):active {
        color: #e4e3ce !important; }
    .buttons a.active, .buttons a:active, a:not(.active):hover, .buttons a:not(.active):focus{
      -webkit-box-shadow: 0 9px 16px 0 rgba(0, 0, 0, 0.1), 0 0 0 1px #170c22, 0 2px 1px 0 rgba(121, 65, 135, 0.5), inset 0 0 4px 3px rgba(15, 8, 22, 0.2);
      -moz-box-shadow: 0 9px 16px 0 rgba(0, 0, 0, 0.1), 0 0 0 1px #170c22, 0 2px 1px 0 rgba(121, 65, 135, 0.5), inset 0 0 4px 3px rgba(15, 8, 22, 0.2);
      box-shadow: 0 9px 16px 0 rgba(0, 0, 0, 0.1), 0 0 0 1px #170c22, 0 2px 1px 0 rgba(121, 65, 135, 0.5), inset 0 0 4px 3px rgba(15, 8, 22, 0.2);
      background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #1f132e), color-stop(100%, #311d47));
      background-image: -webkit-linear-gradient(#1f132e, #311d47);
      background-image: -moz-linear-gradient(#1f132e, #311d47);
      background-image: -o-linear-gradient(#1f132e, #311d47);
      background-image: linear-gradient(#1f132e, #311d47);
      text-shadow: 0 0 21px rgba(223, 206, 228, 0.5), 0 0 10px rgba(223, 206, 228, 0.4), 0 0 2px #2a153c;
      color: #e4e3ce; }
    .buttons a:last-of-type {
      -webkit-border-radius: 0 7px 7px 0;
      -moz-border-radius: 0 7px 7px 0;
      -ms-border-radius: 0 7px 7px 0;
      -o-border-radius: 0 7px 7px 0;
      border-radius: 0 7px 7px 0;
      width: 80px; }
    .buttons a:first-of-type {
      -webkit-border-radius: 7px 0 0 7px;
      -moz-border-radius: 7px 0 0 7px;
      -ms-border-radius: 7px 0 0 7px;
      -o-border-radius: 7px 0 0 7px;
      border-radius: 7px 0 0 7px;
      left: 0; 
  	  width: 30px;}
    .buttons a:nth-of-type(2) {
      left: 31px;
      width: 50px; }
    .buttons a:nth-of-type(3) {
      left: 82px; 
  	  width: 30px;}
    .buttons a:nth-of-type(4) {
      left: 113px; }
    .buttons a:nth-of-type(5) {
      left: 214px; }
    .buttons a:nth-of-type(6) {
      left: 315px; }